    <footer class="bg-white mt-5 border-top">
        <div class="container py-4">
            <div class="d-flex justify-content-between align-items-center">
                <a class="navbar-brand text-success" href="#"><i class="fas fa-utensils"></i> FoodNow</a>
                <p class="text-muted mb-0">&copy; 2025 FoodNow. All Rights Reserved.</p>
                <div class="fs-4">
                    <a href="https://www.facebook.com/Cristiano/?locale=vi_VN" class="text-muted me-3"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/cristiano/" class="text-muted me-3"><i class="fab fa-instagram"></i></a>
                    <a href="https://x.com/cristiano?" class="text-muted"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </footer>
